.Contactos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.Contactos .header{
    text-align: center;
    font-size: 25px;
    background-color: rgba(245, 231, 44, 0.904);
    padding-bottom: 15px;
}
.Contactos  img{
    width: 40px;
    margin-top: 20px;
    margin-right: 10px;
}


.Contactos .content{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    gap: 15%;
}


.Contactos .content .infos{

    width: 50%;
    
}

.Contactos .content .infos .dado{

    margin-bottom: 20px;
    
}

.Contactos .content .mail{

    width: 50%;

}