
.custom-dropdown-toggle {
    background-color: transparent !important;
    color: black !important;
    border: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-right: 0 !important; 
}

.custom-dropdown-toggle::after {
    display: none !important; /* Esconder a seta */
}

.custom-dropdown-toggle:hover, 
.custom-dropdown-toggle:focus, 
.dropdown.show .custom-dropdown-toggle {
    color: gray !important;
    background-color: transparent !important;
}

.dropdown-menu {
    position: absolute !important;

    left: 0 !important;
    z-index: 1000 !important; 
}
